html, body{
    margin: 0;
    background-color: #333;
}
*{
    font-family: 'Courier New', Courier, monospace, sans-serif;
    transition: .2s;
}

.title{
    color: #d8d8d8;
    text-align: center;
}

.gallery{
    width: fit-content;
    margin: auto;
    background-color: #d8d8d8;
    padding: 1rem;
    border-radius: 20px;
}
.gallery button{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5vmax;
    background: none;
    border: none;
    border-radius: 5px;
}
.gallery button:hover{
    background: rgba(0,0,0,.2);
}
.gallery img{
    width: 70vmin;
    border-radius: 20px;
    border: 5px solid #333;
}
#guru img, #murid img{
    width: initial;
    height: 50vmin;
}

.button-c{
    display: flex;
    justify-content: center;
}
.button-c button{
    margin: 0 10px;
}
.text{
    text-align: center;
    font-size: 3vmax;
    font-weight: 900;
}